@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Open sans', sans-serif !important;
}
/* Media-query */
@media (max-width: 1024px) {
    body{
        max-width: 1024px !important;
    }
    .background .text-center{
        margin-top: 0px !important;
    }
    .background .text-center .h1{
        margin: 0px !important;
        font-size: 38px;
    }
    .background .text-center .h1 p{
        margin-bottom: 5px !important;
    }
    .background .text-center .small{
        padding: 0px !important;
    }
    .background .text-center .small p{
        margin-bottom: 12px !important;
    }
    .background .text-center form .btn{
        width: 115px !important;
        height: 30px !important;
    }
    .unified .bg-white {
        margin-top: -50px !important;
    }
    .manuc .bg-primary .col{
        margin-right: 0px !important;
    }
    .manuc .bg-primary .float-right {
        padding: 0px 10px !important;
        margin: 0px !important;
    }
    .ads .ads-bg .ads-image{
        border-radius: 275px/250px !important;
    }
}
@media (max-width: 768px){
    body{
        max-width: 768px !important;
    }
    header  .container{
        margin-top: 0px !important;
    } 
    header article .h1{
        font-size: 35px;
    }
    header article .small{
        padding-bottom: 11px !important;
    }
    header article .small p{
        margin-bottom: 5px;
    }
    .unified article{
        margin-top: -20px !important;
    }
    .unified article .text-center p{
        margin: 0px !important;
        padding: 0px !important;
    }
    .unified article .card-deck{
        padding: 15px !important;
    }
    .unified article .card{
        padding: 0px !important;
        padding-bottom: 10px !important;
    }
    .unified article .card .card-title h5{
        font-size: 17px;
    }
    .unified article .card .card-body{
        font-size: 14px;
    }
    .module article .card-deck .mt-5{
        margin-top: 3px !important;
    }
    .module article .explore{
        padding-top: 0px !important;
    }
    .module article .explore button{
        width: 220px !important;
        height: 45px !important;
    }
    .module article .card-deck .row{
        display: grid !important;
        justify-items: center;
    }
    .module article .card-deck .row .card{
        margin-bottom: 5px;
    }
    .manuc{
        max-width: 768px;
    }
    .manuc article .manuc-content{
        /* display: grid !important;
        justify-items: center; */
    }
    .manuc article .d-flex .img{
        width: 300px;
    }
    .manuc article .d-flex img{
        width: 300px !important;
    }
    .manuc article .manuc-content .bg-primary{
        width: 768px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .manuc .bg-primary .row{
        display: grid;
    }
    .manuc .bg-primary .col{
        text-align: justify;
        margin: 0px !important;
        padding: 0px 90px !important;
    }
    .manuc .bg-primary .col .text{
        padding-top: 20px !important;
        padding-right: 0px !important;
    }
    .manuc .bg-primary .float-right{
        text-align: left !important;
        margin: 0px !important;
        padding: 0px 90px !important;
    }
    .manuc .bg-primary .float-right .text-light h4{
        font-size: 20px;
    }
    .user header{
        padding-bottom: 15px !important;
    }
    .user article .user-content .pt-4{
        width: 425px !important;
        margin-right: -60px !important;
    }
    .user article .user-content .bg-light{
        margin: 0px !important;
        padding: 0px !important;
        width: 425px !important;
    }
    .user article .user-content .bg-light .row{
        padding: 7px 15px !important;
        margin: 0px !important;
    }
    .user article .user-content .bg-light .row .text{
        padding: 0px !important;
    }
    .user article .user-content .pt-4 .arrows{
        margin: 0px 30px !important;
    }
    .user article .user-content .box{
        width: 375px !important;
    }
    .user article .user-content .box .row{
        padding: 50% 0% !important;
    }
    .ads .ads-bg .ads-image{
        position: absolute !important;
    }
    .ads .ads-bg .text-left{
        text-align: center !important;
        padding: 25% 0%;
        position: relative;
    }
    .ads .ads-bg .text-left .h2{
        font-size: 40px;
        margin-bottom: 15px !important;
    }
    .news article{
        padding-top: 25px !important;
    }
    .news article .row .m{
        margin-right: 5px !important;
    }
    footer .container{
        margin: 0px !important;
    }
}
@media (max-width: 425px){
    body{
        max-width: 425px !important;
    }
    header  .container{
        margin-top: 0px !important;
        padding-top: 0px !important;
    } 
    header .background{
        overflow: scroll !important;
    }
    .h1 p{
        font-size: 34px;
        margin-bottom: 2px;
    }
    header article .small{
        padding-bottom: 11px !important;
    }
    header article .small p{
        font-size: 17px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    header article form button{
        width: 110px !important;
        height: 35px !important;
        font-size: 11px !important;
    }
    .unified article{
        margin-top: -20px !important;
    }
    .unified article .text-center .h3{
        font-size: 28px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .unified article .text-center p{
        margin: 0px !important;
        padding: 0px !important;
        font-size: 16px !important;
        text-align: justify !important;
    }
    .unified article .card{
        padding: 0px !important;
        padding-bottom: 10px !important;
    }
    .unified article .card .card-title h5{
        font-size: 17px;
    }
    .unified article .card .card-body{
        font-size: 14px;
    }
    .module article .card-deck .row{
        padding: 0px 15px ;
    }
    .module article .card-deck .mt-5{
        margin-top: 3px !important;
    }
    .module article .explore{
        padding-top: 0px !important;
    }
    .module article .explore button{
        width: 220px !important;
        height: 45px !important;
    }
    .manuc{
        max-width: 425px;
    }
    .manuc article .manuc-content{
        display: grid !important;
        justify-items: center;
    }
    .manuc article .d-flex .img{
        width: 300px;
    }
    .manuc article .d-flex img{
        width: 300px !important;
        height: 13rem !important;
        margin-bottom: -35px;
    }
    .manuc article .manuc-content .bg-primary{
        width: 425px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .manuc article .manuc-content .bg-primary .row{
        display: grid;
    }
    .manuc .bg-primary .col{
        margin: 0px !important;
        padding: 0px 20px !important;
        text-align: justify;
    }
    .manuc .bg-primary .col .text{
        padding-top: 20px !important;
        padding-right: 0px !important;
    }
    .manuc .bg-primary .float-right{
        margin: 0px !important;
        padding: 0px 20px !important;
        text-align: justify !important;
    }
    .manuc .bg-primary .float-right .text-light h4{
        font-size: 20px;
    }
    .user header{
        padding-bottom: 15px !important;
    }
    .user article .user-content{
        display: grid !important;
        justify-items: center;
    }
    .user article .user-content .pt-4{
        width: 425px !important;
        margin-bottom: -60px !important;
    }
    .user article .user-content .bg-light{
        margin: 0px !important;
        padding: 0px !important;
        width: 425px !important;
    }
    .user article .user-content .bg-light .row{
        padding: 7px 15px !important;
        margin: 0px !important;
    }
    .user article .user-content .bg-light .row .text{
        padding: 0px !important;
    }
    .user article .user-content .pt-4 .arrows{
        margin: 0px 30px !important;
    }
    .user article .user-content .box{
        width: 375px !important;
        height: 375px !important;
    }
    .user article .user-content .box .row{
        padding: 50% 0% !important;
    }
    .ads .ads-bg .ads-image{
        display: none;
    }
    .ads .ads-bg{
        background-size: cover;
    }
    .ads .ads-bg .text-left{
        text-align: center !important;
        padding: 35% 0%;
    }
    .news article .row{
        display: grid;
    }
    .news article .row .card{
        margin-right: 0px !important;
        margin-bottom: 5px;
    }
    footer .text{
        display: grid;
    }

}
@media (max-width: 375px){
    body{
        max-width: 375px !important;
    }
    header  .container{
        margin-top: 0px !important;
        padding-top: 0px !important;
    } 
    header .background{
        overflow: scroll !important;
    }
    .h1 p{
        font-size: 25px;
        margin-bottom: 4px;
    }
    header article .small p{
        font-size: 13px;
        padding: 7px 0px;
        margin-bottom: 0px;
    }
    header article form button{
        width: 100px !important;
        height: 30px !important;
        font-size: 9px !important;
    }
    .unified article {
        margin-top: -35px !important;
    }
    .unified article .text-center .h3{
        font-size: 24px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .unified article .text-center p{
        margin: 0px !important;
        padding: 0px !important;
        font-size: 16px !important;
        text-align: justify !important;
    }
    .unified article .card{
        padding: 0px !important;
        padding-bottom: 10px !important;
    }
    .unified article .card .card-title h5{
        font-size: 17px;
    }
    .unified article .card .card-body{
        font-size: 14px;
    }
    .module article .card-deck .mt-5{
        margin-top: 3px !important;
    }
    .module article .explore{
        padding-top: 0px !important;
    }
    .module article .explore button{
        width: 200px !important;
        height: 36px !important;
    }
    .manuc{
        max-width: 320px;
    }
    .manuc article .manuc-content{
        display: grid !important;
        justify-items: center;
    }
    .manuc article .d-flex .img{
        width: 220px;
    }
    .manuc article .d-flex img{
        width: 237px !important;
        height: 12rem !important;
        margin-bottom: -35px;
    }
    .manuc article .manuc-content .bg-primary{
        width: 375px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .manuc .bg-primary .col{
        margin: 0px !important;
        padding: 0px 15px !important;
    }
    .manuc .bg-primary .col .text{
        padding-top: 20px !important;
        padding-right: 0px !important;
    }
    .manuc .bg-primary .float-right{
        margin: 0px !important;
        text-align: left !important;
        padding: 0px 15px !important;
    }
    .user header{
        padding-bottom: 15px !important;
    }
    .user article .user-content{
        display: grid !important;
        justify-items: center;
    }
    .user article .user-content .pt-4{
        width: 375px !important;
        margin-bottom: -60px !important;
    }
    .user article .user-content .bg-light{
        margin: 0px !important;
        padding: 0px !important;
        width: 375px !important;
    }
    .user article .user-content .bg-light .row{
        padding: 7px 15px !important;
        margin: 0px !important;
    }
    .user article .user-content .bg-light .row .text{
        padding: 0px !important;
    }
    .user article .user-content .pt-4 .arrows{
        margin: 0px 30px !important;
    }
    .user article .user-content .box{
        width: 375px !important;
        height: 320px !important;
    }
    .user article .user-content .box .row{
        padding: 50% 0% !important;
    }
    .ads .ads-bg .ads-image{
        display: none;
    }
    .ads .ads-bg{
        background-size: cover;
    }
    .ads .ads-bg .text-left{
        text-align: center !important;
        padding: 35% 0%;
    }
    .news article .row{
        display: grid;
        justify-items: center;
    }
    .news article .row .card{
        margin-right: 0px !important;
        margin-bottom: 5px;
    }
    footer .text{
        display: grid;
    }

}

@media (max-width: 320px){
    body{
        min-width: 320px !important;
    }
    header  .container{
        margin-top: 0px !important;
        padding-top: 0px !important;
    } 
    header .background{
        overflow: scroll !important;
    }
    .h1 p{
        font-size: 25px;
        margin-bottom: 2px;
    }
    header article .small{
        padding-bottom: 8px !important;
    }
    header article .small p{
        font-size: 13px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    header article form button{
        width: 100px !important;
        height: 30px !important;
        font-size: 9px !important;
    }
    .unified article{
        margin-top: -20px !important;
    }
    .unified article .text-center .h3{
        font-size: 21px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .unified article .text-center p{
        margin: 0px !important;
        padding: 0px !important;
        font-size: 16px !important;
        text-align: justify !important;
    }
    .unified article .card{
        padding: 0px !important;
        padding-bottom: 10px !important;
    }
    .unified article .card .card-title h5{
        font-size: 17px;
    }
    .unified article .card .card-body{
        font-size: 14px;
    }
    .module article .card-deck .mt-5{
        margin-top: 3px !important;
    }
    .module article .explore{
        padding-top: 0px !important;
    }
    .module article .explore button{
        width: 200px !important;
        height: 36px !important;
    }
    .manuc{
        max-width: 320px;
    }
    .manuc article .manuc-content{
        display: grid !important;
        justify-items: center;
    }
    .manuc article .d-flex .img{
        width: 220px;
    }
    .manuc article .d-flex img{
        width: 237px !important;
        height: 12rem !important;
        margin-bottom: -35px;
    }
    .manuc article .manuc-content .bg-primary{
        width: 320px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .manuc .bg-primary .col{
        margin: 0px !important;
        padding: 0px 15px !important;
    }
    .manuc .bg-primary .col .text{
        padding-top: 20px !important;
        padding-right: 0px !important;
    }
    .manuc .bg-primary .float-right{
        margin: 0px !important;
        text-align: left !important;
        padding: 0px 15px !important;
    }
    .user header{
        padding-bottom: 15px !important;
    }
    .user article .user-content{
        display: grid !important;
        justify-items: center;
    }
    .user article .user-content .users{
        width: 320px !important;
        margin-bottom: -60px !important;
        margin-left: -60px !important;
    }
    .user article .user-content .bg-light{
        margin: 0px !important;
        padding: 0px !important;
        width: 320px !important;
    }
    .user article .user-content .bg-light .row{
        padding: 7px 15px !important;
        margin: 0px !important;
    }
    .user article .user-content .bg-light .row .text{
        padding: 0px !important;
    }
    .user article .user-content .users .scroll{
        width: 100% !important;
    }
    .user article .user-content .users .arrows{
        margin: 0px 30px !important;
    }
    .user article .user-content .box{
        width: 320px !important;
        height: 275px !important;
    }
    .user article .user-content .box .row{
        padding: 50% 0% !important;
    }
    .ads .ads-bg .ads-image{
        display: none;
    }
    .ads .ads-bg{
        background-size: cover;
    }
    .ads .ads-bg .text-left{
        text-align: center !important;
        padding: 35% 0%;
    }
    .ads .ads-bg .text-left .h2{
        font-size: 35px !important;
        margin-bottom: 10px !important;
    }
    .news article .row{
        display: grid;
        justify-items: center;
    }
    .news article .row .card{
        margin-right: 0px !important;
        margin-bottom: 5px;
    }
    footer .text{
        display: grid;
    }

}


.d-grid{
    display: grid;
}

/* Header style */
.background{
    background: #000000 0% 0% no-repeat padding-box;
    background-size: cover;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}
.background-image{
    position: absolute;
}
.background-image img{
    width: 100%;
    height: 75vh;
}
.blur{
    background: rgba(0, 0, 0, 0.875);
    backdrop-filter: blur(0px);
    height: 75vh;
    width: 100%;
    position: absolute;
}
.nav-link{
    position: relative;
    transition-duration: 0.5s;
}
.nav-link:hover,
.nav-link:focus-within{
    border-bottom: 3px solid royalblue;
    transition: 0.5s ease-in;
}
.nav-link:focus-within a{
    outline: none;
}
.dropdown:hover .dropdown-menu, .dropdown:focus-within .dropdown-menu{
    display: block;
}

/* Unified Card */
.icon-uni{
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 40px;
}
.card-title > h6{
    font-weight: 400;
}
.card-body{
    font-weight: 100;
}

/* Module Cards */
.img-overlay{
    opacity: 0;
    transition: 0.5s;
}
.card-header .fas{
    font-size: 35px;
}
.card:hover .img-overlay, .card:focus-within .img-overlay{
    opacity: 0.875;
}
.icon-mod{
    width: 40px;
}

/* Users */
.subhead{
    color: #889191;";
}
.car-btn{
    width: 12px;
    height: 12px;
    margin: 0px 3px;
    border-radius: 22px;
    cursor: pointer;
}
.arrows{
    background: #f5f5f5 0% 0% no-repeat padding-box;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 0px 70px;
    padding: 0px 20px;
    cursor: pointer;
}
.arrows > img{
    -webkit-filter: invert(29%) sepia(79%) saturate(4349%) hue-rotate(205deg) brightness(112%) contrast(103%);
    filter: invert(29%) sepia(79%) saturate(4349%) hue-rotate(205deg) brightness(112%) contrast(103%);
    width: 50px;
}

/* Ads Div */
.ads-bg{
    background: linear-gradient(0deg, rgba(116,162,251, 0.663), rgba(61,128,253, 0.706)), url("christina-wocintechchat-com-3sY92eKV6-Y-unsplash.png") center no-repeat;
    width: 100%;
    height: 438px;
}
.ads-image{
    width: 590px;
    height: 450px;
    border: 25px solid rgba(55, 239, 125, .627);
    border-left: none;
    border-bottom: none;
    border-radius: 300px/225px;
    overflow: hidden;
    transform: rotate(-13deg);
}
.ads-image > img{
    height: 500px;
    transform: scale(1.1);
}
.ad-bg{
    background: linear-gradient(0deg, rgba(0,0,0, 0.763), rgba(0,0,0, 0.763)), url("christina-wocintechchat-com-3sY92eKV6-Y-unsplash.png") no-repeat center;
    background-size: cover;
    height: 450px;
}

/* News and Resources */
.news-bg{
    background: url("section-background-benefits.png") repeat center;
    padding-bottom: 30px;
}
.news-card{
    width: 288px;
}
.news-card > p{
    font-weight: 200;
}
.news-card > img{
    height: 250px;
}

/* Footer */
.icon-foot{
    width: 75px;
    height: 75px;
    border-radius: 40px;
    margin-top: -30px;
    position: relative;
    padding: 7px;
}
.icon-social{
    filter: invert(1);
    width: 25px;
    padding: 0px 5px;
}
footer .nav-item{
    font-size: 14px;
}